body{
  background-image: url('../img/bgnoise_lg.png');

}
footer {
    position: fixed; 
    bottom: 0px; 
    width: 100%; 
    height: 60px; 
}

.para1{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
h2.form-heading {
	color: #4169E1;
	text-align: center;
	font-family: Georgia, serif;
}

