<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

    <title>Out of the Pan - {% block title %}Food and Cooking{% endblock %}</title>
	</head>

    <body>
    {% block content %}
	
    {% endblock %}

	<div class="footer">
        	<p align="center">Copyright &copy; Out of the Pan 2014</p>
    	</div>
	
    

    	<!-- jQuery -->
    	<script src="{% static 'js/jquery-1.11.1.js' %}"></script>

    	<!-- Bootstrap Core JavaScript -->
    	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vote.js' %}"></script>
    </body>
</html>
