<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Out of the Pan - Food and Cooking</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">
    <link href="{% static 'css/user.css' %}" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="messages">
         {% if user.is_authenticated %}
         hello {{ user.username }}!
         {% else %}
         hello guest!
         {% endif %}
    </div>
  

    <div class="brand">Out of the Pan</div>
   
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Out of the Pan</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="/recipeBlog/">Home</a>
                    </li>
                    <li>
                        <a href="/recipeBlog/recipe_list/">Recipes</a>
                    </li>
                    <li>
                        <a href="/recipeBlog/recipe_form/">Post Recipe</a>
                    </li>
                    <li>
                        <a href="/recipeBlog/logout/">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/recipeBlog/">Home</a>
                    </li>
                    <li>
                        <a href="/recipeBlog/recipe_list/">Recipes</a>
                    </li>
                    <li>
                        <a href="/recipeBlog/please_sign_up/">Post Recipe</a>
                    </li>
                    <li>
                        <a href="/recipeBlog/register/">Register</a>
                    </li>
                    <li>
                        <a href="/recipeBlog/login/">Login</a>
                    </li>
                {% endif %}   
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{% static 'img/pic-1.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{% static 'img/pic-2.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{% static 'img/pic-3.jpg' %}" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Out of the Pan</h1>
                    <hr class="tagline-divider">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Hello and welcome to
                        <strong>Out of the Pan</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="{% static 'img/intro-pic.jpg' %}" alt="">
                    <hr class="visible-xs">
                    <p>Thank you for stopping by our website where you can find well-crafted recipes for the home cook.</p>
                    <p>We invite you to try the recipes, and if you would like, leave constructive feedback in the comments. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Where we get the
                        <strong>recipes</strong>
                    </h2>
                    <hr>
                    <p>We have users registered with us who post recipes they would like to share with our visitors. </p>
                    <p>Want to post a recipe? Yes, you can absolutely do so! :) All you have to do is, click on the Register tab at the top of the page and fill in the details required for registration. That's it! You're now ready to share your talent with the world.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>comments</strong>
                    </h2>
                    <hr>
                    <p>Constructive criticism is welcome. Rude or mean comments are not welcome. Please restrict your comments to the topic at hand, for the benefit of all who may be reading. </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Out of the Pan 2014</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
