{% extends "recipeBlog/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

    <br/><br/><br/><br/>

    <div class="container">
        <form class="form-signin" id="login_form" method="post" action="/recipeBlog/login/">

        <br/>
        <div class="col-md-6 col-md-offset-3 jumbotron">
            <h2 class="form-heading"> Login</h2>
            {% if bad_details %}
            <p><strong>Your username and/or password was incorrect!</strong></p>
            {% elif disabled_account %}
            <p><strong>Your account is currently disabled, we can't log you in!</strong></p>
            {% endif %}

            {% csrf_token %}
            <p class="para1">Username:
            <br/>
            <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="35"/> </p>
            
            <p class="para1">Password:
            <br/>
            <input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="35"/> </p>
            
            <br/>

            <button class="btn btn-primary" type="submit">Sign in</button>
        </div>    
        </form>

    </div>

{% endblock %}
