<!DOCTYPE html>
<html>
    <head>
       
        <title>Out of the Pan</title>
    </head>

    <body>
        <h1>Logout from 'Out of the Pan'</h1>

        <form id="login_form" method="post" action="/recipeBlog/logout/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>
