{% block title %}Restricted!{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Restricted Page!</h1>

    Since you're either not a user, or haven't signed in, you can't post a recipe!
    <p><a href="{% url 'login' %}">Please sign in.</a></p>
    <p> OR </p>
    <p><a href="{% url 'register' %}">Please register.</a></p>

</div>
{% endblock %}​
