{% extends "recipeBlog/base.html" %}

{% block title %}Post Recipe!{% endblock %}

{% block content %}

	<div class="container">
        {% if submitted %}
        <p>Thank you for submitting your recipe!</p>

        <p><a href="/recipeBlog/">Return to the homepage.</a></p>
        {% else %}

        <form class="form-signin" id="user_form" method="post" action="/recipeBlog/recipe_form/"
              enctype="multipart/form-data">
            {% csrf_token %}
        <br/><br/><br/><br/><br/>

            <div class="col-md-6 col-md-offset-3 jumbotron">
            <h2 class="form-heading">Submit Your Recipe</h2>
            <!-- Display each form here -->
            <p class="para1">
            {% for field in recipe_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}<br/>
            {{ field }}<br/>
            {% endfor %} 
            </p>

            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
           <!--</p>-->
            </div>
        </form>
        {% endif %}
    </div>


{% endblock %}
