{% extends "recipeBlog/base.html" %}
{% load static %}
{% load comments %}

{% block title %}Recipe Details!{% endblock %}

{% block content %}

<br/><br/><br/><br/>
<div class="container">
<div class="jumbotron">
	
<div class="container">
<h2 class="form-heading"> {{ object.name }}</h2>
<p class="para1">Preparation Time: {{ object.preparationTime }}</p>
<p class="para1">Serves: {{ object.serves }}</p>
<p class="para1">Description: {{ object.description }}</p>
<p class="para1">Ingredients: {{ object.ingredients }}</p>
<p class="para1">Directions: {{ object.directions }}</p>
</div>

<div class="tags">
	{% for tag in recipe.tags.all %}
	<a href="/recipeBlog/tag_page/{{tag}}">{{tag}}</a>
	{% if not forloop.last %}, {% endif %}
	{% endfor %}
</div>

</div>
</div>

<div class="container">
<p><a href="{% url 'recipe-list' %}">Back to food list</a></p>
</div>

<!--Comments-->
{% get_comment_list for recipeBlog.recipe name.id as comment_list %}
<div class="comments">
<h3>Comments</h3>
<div class="comment_form">
{% if user.is_authenticated %}
  {% get_comment_form for object as form %}
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="name" value="{{ user }}" />
    <input type="hidden" name="email" value="{{ user.email|default:'d@ummy.com' }}" />
    <input type="hidden" name="url" value="" />
    <input type="hidden" name="next" 
	   value="{% url 'recipe-detail' pk=object.id %}" />
    <input type="submit" value="Add comment" id="id_submit" />
  </form>
{% else %}
  <p><a href="{% url 'login' %}">Please log in to leave a comment.</a></p>
{% endif %}
  </div>

  {% get_comment_list for recipeBlog.recipe object.id as comment_list %}
  {% for comment in comment_list %}
  <p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
  <p>Comment: {{ comment.comment }}</p>
  {% endfor %}

</div>


{% endblock %}
