{% extends "recipeBlog/base.html" %}
{% load comments %}
{% block title %}Recipe list!{% endblock %}

{% block content %}

    <p class="para1">
    <h1>List of recipes!</h1>

    <ol>
    {% for name in object_list %}
    <form method="post" action="{% url 'vote' %}" class="vote_form">
    <li> [ {{ name.votes }} ] <!--Display no. of votes -->
    {% csrf_token %}
    <input type="hidden" id="id_recipe" name="recipe" class="hidden_id" value="{{ recipe.pk }}" /> <!-- recipe id taken from for-loop -->
    <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" /> <!-- currently logged in user -->
    {% if not user.is_authenticated %}
    <button disabled title="Please login to vote">+</button>
    {% elif recipe.pk not in voted %}
    <button>+</button> <!--button for voting -->
    {% else %}
    <button>-</button>
    {% endif %}
    <a href="{% url 'recipe-detail' pk=name.id %}">{{ name.name }}</a>
        {% get_comment_count for recipeBlog.recipe name.id as comment_count %}
    <!-- if comment_count>1 then Comment(s) -->
    <p class="details">{{ comment_count }} Comment{{comment_count|pluralize }}</a></p>
    </li>
    {% endfor %}
    </ol>

    <p><b> Want to add a recipe? </b></p>
    <a href="{% url 'login' %}">Login</a> OR <a href="{% url 'register' %}">Register</a>
    </p>


{% endblock %}
