{% extends "recipeBlog/base.html" %}

{% block title %}Register with Us{% endblock %}

{% block content %}

    <!--<h1 align="center">Register with Out of the Pan</h1>-->
    <br/>


    <div class="container">
        {% if registered %}
        <p>Thank you for registering!</p>

        <p><a href="/recipeBlog/">Return to the homepage.</a></p>
        {% else %}

        <form class="form-signin" id="user_form" method="post" action="/recipeBlog/register/"
              enctype="multipart/form-data">
            {% csrf_token %}
        <br/><br/><br/><br/><br/>

            <div class="col-md-6 col-md-offset-3 jumbotron">
            <h2 class="form-heading">Register with Out of The Pan</h2>
            <!-- Display each form here -->
            <p class="para1">
            {% for field in user_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}<br/>
            {{ field }}<br/>
            {% endfor %} 
            </p>

        
            {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}
            {{ field }}<br/>
            {% endfor %}

            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Register" />
           <!--</p>-->
            </div>
        </form>
        {% endif %}
    </div>

{% endblock %}
