{% extends "recipeBlog/base.html" %}

{% block content %}
<h2>Recipes tagged: {{tag}}</h2>

{% for recipe in recipes %}
<p>{{recipe.submit_date}}:<a href="/recipeBlog/recipe/{{recipe.id}}">{{ recipe.name }}</a></p>

{% endfor %}
{% endblock %}

